@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Benzin";
  src: url(./fonts/Benzin-Semibold.ttf);
}

@font-face {
  font-family: "Space Grotesk";
  src: url(./fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

.cursor-transitions {
  transition:
    transform 0.3s cubic-bezier(0.37, 0.88, 0.88, 1.01),
    opacity 0.3s ease;
}

.active {
  @apply text-denim-200 transition ease-in;
}
