@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Benzin";
    src: url(./assets/Benzin-Semibold.ttf);
}

@font-face {
    font-family: "Space Grotesk";
    src: url(./assets/SpaceGrotesk-VariableFont_wght.ttf);
}

.cursor-transitions {
	transition: transform 0.3s cubic-bezier(.37, .88, .88, 1.01), opacity 0.3s ease;
}

.tooltip {
    @apply invisible absolute;
  }
  
  .has-tooltip:hover .tooltip {
    @apply visible z-50
  }
  